:root {
    --gray: #2e2e2e;
    --text-gray-light: #9f9f9f;
    --text-gray-dark: #333333;
    --red: #db4a39;
    --blue: #0099ff;
    --gray2: #0099ff;
    --gray3: #787878;
    --gray4: #f1f1f1;
    --gray5: #e9e9e9;
    --white: #ffffff;
    --gray5: #999999;
    --gray6: #e0e0e0;
    --gray7: #1a1a1a;
    --gray8: #555555;
    --gray9: #666666;
    --gray10: #232323;
    --gray11: #989898;
    --gray12: #222222;
    --gray13: #656565;
    --gray15: #2d2d2d;
    --black: #000000;
  }